[Unit]
Description=Optimacros NAT Router %I

[Service]
ExecStart=/bin/bash /opt/ocnat/reload-om-nat.sh /etc/pve/ocnat/%I.json M4RdjRw2ZhT
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target