[Unit]
Description=NAT Router %I

[Service]
ExecStart=/bin/bash /opt/ocnat/apps/ocnat/reload-om-nat.sh /opt/ocnat/apps/ocnat/.env
User=root
Group=root
Type=simple
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target