[Unit]
Description=Tinc cnet
After=network.target corosync.service pve-cluster.service

[Service]
Type=simple
WorkingDirectory=/etc/tinc/cnet
ExecStart=/sbin/tincd -n cnet -D -d3
ExecReload=/sbin/tincd -n cnet -kHUP
TimeoutStopSec=5
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target