authoritative;
ping-check true;
update-static-leases on;

#ddns-updates on;
#ddns-update-style standard;
#ddns-ttl 300;
#ddns-domainname "{DDNS_DOMAIN}";

#key "dhcp-key" {
#    algorithm hmac-sha256;
#    secret "{DDNS_SECRET}";
#};

#zone {DDNS_DOMAIN} {
#        primary {DDNS_ADDRESS};
#        key dhcp-key;
#}

{SUBNETS}