{
  "network": {
    "vm102":  {
      "ipv4": {
        "dhcp"
      }
    },
    "vm112":  {
      "ipv4": {
        "dhcp"
      }
    },
    "vm131":  {
      "ipv4": {
        "dhcp"
      }
    },
    "vm132":  {
      "ipv4": {
        "dhcp"
      }
    }
  }
}