{
  "network": {
    "vm131": {
      "adapters": [
        {
          "id": "net0",
          "name": "vmbr131",
          "ipv4": {
            "subnet": "10.10.1.129/30",
            "address": "10.10.1.130",
            "gateway": "10.10.1.129"
          }
        }
      ]
    }
  }
}